fastapi==0.115.9
uvicorn==0.34.2
sqlalchemy==2.0.40
python-multipart==0.0.20
pydantic==2.11.2
pydantic-settings==2.9.1
httpx==0.28.1
openai==1.78.1
chromadb==1.0.7
chroma-hnswlib==0.7.6
langchain==0.3.25
langchain-text-splitters==0.3.8
python-dotenv==1.1.0
aiofiles==24.1.0
sse-starlette==2.2.1
telethon==1.40.0
python-socks[asyncio]==2.8.1
ijson==3.3.0
